<div class="row">
    <div class="feature col-md-6">
        <h3><i class="fa fa-exchange feature-icon"></i> PSR-7 Support</h3>
        <p>
            Slim supports any PSR-7 HTTP message implementation
            so you may inspect and manipulate HTTP message method,
            status, URI, headers, cookies, and body.
        </p>
    </div>

    <div class="feature col-md-6">
        <h3><i class="fa fa-plug feature-icon"></i> Dependency Injection</h3>
        <p>
            Slim supports dependency injection so you
            have complete control of your external tools.
            Use any Container-Interop container.
        </p>
    </div>
</div>
<div class="row">
    <div class="feature col-md-6">
        <h3><i class="fa fa-exchange feature-icon"></i> PSR-7 Support</h3>
        <p>
            Slim supports any PSR-7 HTTP message implementation
            so you may inspect and manipulate HTTP message method,
            status, URI, headers, cookies, and body.
        </p>
    </div>

    <div class="feature col-md-6">
        <h3><i class="fa fa-plug feature-icon"></i> Dependency Injection</h3>
        <p>
            Slim supports dependency injection so you
            have complete control of your external tools.
            Use any Container-Interop container.
        </p>
    </div>
</div>
<div class="row">
    <div class="feature col-md-6">
        <h3><i class="fa fa-exchange feature-icon"></i> PSR-7 Support</h3>
        <p>
            Slim supports any PSR-7 HTTP message implementation
            so you may inspect and manipulate HTTP message method,
            status, URI, headers, cookies, and body.
        </p>
    </div>

    <div class="feature col-md-6">
        <h3><i class="fa fa-plug feature-icon"></i> Dependency Injection</h3>
        <p>
            Slim supports dependency injection so you
            have complete control of your external tools.
            Use any Container-Interop container.
        </p>
    </div>
</div>
<div class="row">
    <div class="feature col-md-6">
        <h3><i class="fa fa-exchange feature-icon"></i> PSR-7 Support</h3>
        <p>
            Slim supports any PSR-7 HTTP message implementation
            so you may inspect and manipulate HTTP message method,
            status, URI, headers, cookies, and body.
        </p>
    </div>

    <div class="feature col-md-6">
        <h3><i class="fa fa-plug feature-icon"></i> Dependency Injection</h3>
        <p>
            Slim supports dependency injection so you
            have complete control of your external tools.
            Use any Container-Interop container.
        </p>
    </div>
</div>
